<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EWSEditor.Settings.Internals.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <!-- EWSEditor Tracing Levels -->
      <!-- 0 = Off -->
      <!-- 1 = Error - Log all error dialog messages and unhandled exceptions-->
      <!-- 2 = Warning - Log all warning dialog messages -->
      <!-- 3 = Information - Log state information that may be useful -->
      <!-- 4 = Verbose - Log handled exceptions and debug messages -->
      <add name="EWSEditorTracing" value="4" />
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <EWSEditor.Settings.Internals.UserSettings>
      <setting name="DebugOutputFile" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceURL" serializeAs="String">
        <value>https://owa.mail-ch.ch/ews/exchange.asmx</value>
      </setting>
      <setting name="Mailbox" serializeAs="String">
        <value>test@rufmultimedia.ch</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>test@rufmultimedia.ch</value>
      </setting>
      <setting name="Passwort" serializeAs="String">
        <value>monitor</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="ShouldSaveDebugOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSplash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAutodiscoverRedirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideCertValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DumpFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindItemViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CalendarViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="EnableSslDetailLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>EWSEditor</value>
      </setting>
    </EWSEditor.Settings.Internals.UserSettings>
  </userSettings>
  <appSettings>
    <add key="EWSUrl" value="https://outlook.office365.com/ews/exchange.asmx" />
    <add key="Username" value="Username" />
    <add key="Password" value="Password" />
    <add key="Domain" value="Domain" />
    <add key="XMLSavePath" value="C:\Program Files (x86)\Ruf\EWSExporter\Output.xml" />
    
    <!-- Nie beide auf true setzen, da Konflikt. Nur einer von beiden darf Aktiv sein. -->
    <add key="ValidationCharacterValid" value="false" />
    <add key="InvalidationCharacterValid" value="false" />
    
    <add key="RemoveValidationCharacter" value="false"/>
    <add key="Interval" value="3"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CleanUpOrganizer" value="true"/>
    <add key="ExchangeVersion" value="Exchange2010"/>
    <!--Exchange2007_SP1, Exchange2010, Exchange2010_SP1, Exchange2010_SP2, Exchange2013 -->
    <add key="ReadDays" value="30"/>
    <add key="IgnoreValidationCharacterPosition" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>