<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EWSEditor.Settings.Internals.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <switches>
      <!-- EWSEditor Tracing Levels -->
      <!-- 0 = Off -->
      <!-- 1 = Error - Log all error dialog messages and unhandled exceptions-->
      <!-- 2 = Warning - Log all warning dialog messages -->
      <!-- 3 = Information - Log state information that may be useful -->
      <!-- 4 = Verbose - Log handled exceptions and debug messages -->
      <add name="EWSEditorTracing" value="4"/>
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <EWSEditor.Settings.Internals.UserSettings>
      <setting name="DebugOutputFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="ServiceURL" serializeAs="String">
        <value>https://outlook.office365.com/ews/exchange.asmx</value>
      </setting>
      <setting name="Mailbox" serializeAs="String">
        <value>multiwebserver</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>multiwebserver@zhref.ch</value>
      </setting>
      <setting name="Passwort" serializeAs="String">
        <value>Multi1221$</value>
      </setting>
      <setting name="Domain" serializeAs="String">
        <value>zhref.ch</value>
      </setting>
      <setting name="ShouldSaveDebugOutput" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSplash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowAutodiscoverRedirect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OverrideCertValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DumpFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindItemViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="FindFolderViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CalendarViewSize" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="EnableSslDetailLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>EWSEditor</value>
      </setting>
    </EWSEditor.Settings.Internals.UserSettings>
  </userSettings>
  <appSettings>
    <add key="EWSUrl" value="https://outlook.office365.com/ews/exchange.asmx"/>
    <add key="Username" value="mirco.palatucci@ruf.ch"/>
    <add key="Password" value="Monitor1234"/>
    <add key="Domain" value=""/>
    <!-- The application ID from your app registration -->
    <add key="appId" value="df42f4cd-fe2d-4aba-83af-4a342a8273da" />
    <!-- The tenant ID copied from your app registration -->
    <add key="tenantId" value="0dba6d0a-b03f-4092-a7ab-10b1b81e3e54"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="2AB8Q~YSIWa7WzV75ZCgOsLKzAG~N_.guF.axdha"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
