<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="file" xsi:type="File"
        layout="${longdate} | ${level:uppercase=true} | ${callsite} | ${message} "
        fileName="${basedir}/logs/logfile.log"
        archiveFileName="${basedir}/logs/logfile.${shortdate}.log"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="7"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="UTF-8" />
    <target name="debugger" xsi:type="Debugger" layout="${longdate} | ${level:uppercase=true} | ${callsite} | ${message} "/>
  </targets>
<!--test2-->
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>