<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EWSEditor.Settings.Internals.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="EWSUrl" value="https://outlook.office365.com/ews/exchange.asmx" />
    <add key="Username" value="multiwebserver@zhref.ch" />
    <add key="Password" value="Multi1221$" />
    <add key="Domain" value="zhref.ch" />
    <add key="XMLSavePath" value="D:\EWSExporter\Output.xml" />
    <add key="ValidationCharacterValid" value="false" />
    <add key="RemoveValidationCharacter" value="false"/>
    <add key="Interval" value="1"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="CleanUpOrganizer" value="false"/>
    <add key="ExchangeVersion" value="Exchange2010"/>

    <!-- The application ID from your app registration -->
    <add key="appId" value="df42f4cd-fe2d-4aba-83af-4a342a8273da" />
    <!-- The tenant ID copied from your app registration -->
    <add key="tenantId" value="0dba6d0a-b03f-4092-a7ab-10b1b81e3e54"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="2AB8Q~YSIWa7WzV75ZCgOsLKzAG~N_.guF.axdha"/>
    <!--Exchange2007_SP1, Exchange2010, Exchange2010_SP1, Exchange2010_SP2, Exchange2013 -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
