<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.49.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net462" />
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net40" />
  <package id="NLog" version="3.1.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="RM.Utils.NLogHelper" version="1.0.14342.1" targetFramework="net40" />
  <package id="RM.Utils.Serialization" version="1.0.14324.8" targetFramework="net40" />
  <package id="RM.Utils.Threading" version="1.1.14325.2" targetFramework="net40" />
</packages>